<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      TODO: Here the character info should be displayed as an editable form.
      Hitting a save button should update all the character's info in the database, and return to the "../character/{id}" path. 
  </body>
</html>
