<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Select a character to edit:</h2>
    <ul>
      <%
      var list = '';
      for (c of characterlist) {
        var path = `../character/${c.character_id}`;
        var button = '';
        if (20 > c.level) {
          if (c.level === 3 || c.level === 7 || c.level === 11 || c.level === 15 || c.level === 18)
          {
            var optionshtml1 = '';
            for (attr of c.options1) {
              optionshtml1 += `<option value=${attr}>${attr}</option>`;
            }
            var optionshtml2 = '';
            var options2index = 0;
            for (attr of c.options2) {
              if (options2index === 1) {
                optionshtml2 += `<option selected value=${attr}>${attr}</option>`;
              } else {
                optionshtml2 += `<option value=${attr}>${attr}</option>`;
              }
              options2index++;
            }
            button += 
            `<div id=${c.character_id}>
              <form method="post" action="/levelup" novalidate>
                <select name="attribute1" style="display:inline-block;">
                  ${optionshtml1}
                </select>
                <select name="attribute2" style="display:inline-block;">
                  ${optionshtml2}
                </select>
                <label>Ability Score Increase - Select two attributes to increase by 1.</label>
                <input type="submit" value="Level Up" style="display:inline-block;">
                <input type="hidden" name="cid" value=${c.character_id}>
              </form>
            </div>`;
          } else {
            button += `<form method="post" action="/levelup" style="display: inline-block;" novalidate>
              <input type="submit" value="Level Up">
              <input type="hidden" name="cid" value=${c.character_id}>
            </form>`;
          }
        } else {
          button += `<button type="button" disabled="true">Level Up</button>`
        }
        list += `<li><a href=${path}>${c.character_name}</a>, ${c.alignment}, Level ${c.level} ${c.class_name} ${button}</li>`;
      } 
      %>
    <%- list %>
    </ul>
    <a href="/charactercreate"><button>Create New Character</button></a>
  </body>
</html>
