<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Select a character to edit</h2>
    <ul>
      <%
      var list = '';
      for (c of characterlist) {
        var path = `../character/${c.character_id}`;
        var button = '';
        if (20 > c.level) {
          button += `<button type="button">Level Up</button>`
        } else {
          button += `<button type="button" disabled="true">Level Up</button>`
        }
        list += `<li><a href=${path}>${c.character_name}</a>, ${c.alignment}, Level ${c.level} ${c.class_name} ${button}</li>`;
      } 
      %>
    <%- list %>
    </ul>
  </body>
</html>
