<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <%
      var list = '';
      for (race of racelist) {
        list += `<li>${race.race_name}, </br>Speed: ${race.speed}, </br>Size: ${race.size}, </br>Description: ${race.description}</li>`;
      } %>
    <%- list %>
    </ul>
  </body>
</html>
